@model MovieManager.ViewModels.FilmeViewModel

@{
    ViewBag.Title = ViewBag.Title;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.DataDeCriacao)
    @Html.HiddenFor(x => x.CreationDate)
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.LastUpdateDate)
    @Html.HiddenFor(x => x.LastUpdatedBy)

    <div class="form-horizontal">
        <h4>Filme</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-4">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            @Html.LabelFor(model => model.GeneroId, htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-4">
                @Html.DropDownListFor(model => model.GeneroId, Model.GeneroSL, "Selecione uma Opção", new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-4">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Ativo)
                    @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger", value = Model.Ativo })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2">
                <input id="submit" type="submit" value="Salvar" class="btn btn-success" />
                @Html.ActionLink("Cancelar", "Index",
             new { controller = "Filmes" },
             new { @class = "btn btn-danger" })

            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Voltar", "Index",null,new {@class = "btn btn-primary"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Scripts/chosen_v1.8.5/chosen.css" rel="stylesheet" />
    <script src="~/Scripts/chosen_v1.8.5/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen_v1.8.5/chosen.proto.js"></script>
    <script>
        $(function () {
            $(".chosenSelect").chosen();
        });
    </script>
}
